<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densityDpi=device-dpi" />
    <title>eDiGi</title>
    <link rel="icon" type="image/png" href="images/logo.jpeg">
    <link rel="stylesheet" href="css/all.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/spacing.css">
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/nice-select.css">
    <link rel="stylesheet" href="css/venobox.min.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/jquery.exzoom.css">

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <!-- <link rel="stylesheet" href="css/rtl.css"> -->
</head>

<body>

    <!--=============================
        TOPBAR START
    ==============================-->
    <section class="fp__topbar">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-md-8">
                    <ul class="fp__topbar_info d-flex flex-wrap">
                        <li><a href="mailto:example@gmail.com"><i class="fas fa-envelope"></i> edigi@gmail.com</a>
                        </li>
                        <li><a href="callto:123456789"><i class="fas fa-phone-alt"></i> +(415) 555‑0132</a></li>
                    </ul>
                </div>
                <div class="col-xl-6 col-md-4 d-none d-md-block">
                    <ul class="topbar_icon d-flex flex-wrap">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a> </li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a> </li>
                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a> </li>

                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!--=============================
        TOPBAR END
    ==============================-->


    <!--=============================
        MENU START
    ==============================-->
    <nav class="navbar navbar-expand-lg main_menu">
        <div class="container">
            <a class="navbar-brand" href="">
                <img src="images/logo.jpeg" alt="edigi" class="img-fluid">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <i class="far fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav m-auto">

                </ul>
                <ul class="menu_icon d-flex flex-wrap">

                    <li>
                        <a href=""><i class="fas fa-user"></i></a>
                    </li>
                    <li>
                        <a class="common_btn" href="/admin/logout" data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <!--=============================
        BREADCRUMB START
    ==============================-->
    <section class="fp__breadcrumb" style="background:cornflowerblue">
        <div style="height: 230px;" class="fp__breadcrumb_overlay">
            <div class="container">
                <div class="fp__breadcrumb_text">
                    <h1>Admin dashboard</h1>
                    <ul>
                        <li><a href="/admin/dashboard">dashboard</a></li>

                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!--=============================
        BREADCRUMB END
    ==============================-->


    <!--=========================
        DASHBOARD START
    ==========================-->
    <section class="fp__dashboard mt_120 xs_mt_90 mb_100 xs_mb_70">
        <div class="container">
            <div class="fp__dashboard_area">
                <div class="row">
                    <div class="col-xl-3 col-lg-4 wow fadeInUp" data-wow-duration="1s">
                        <div class="fp__dashboard_menu">
                            <div class="dasboard_header">
                                <div class="dasboard_header_img">
                                    <img src="./images/Admin.png" alt="Admin" class="img-fluid w-100">
                                    <label for="upload"><i class="fas fa-camera"></i></label>
                                    <input type="file" id="upload" hidden>
                                </div>
                                <h2>Admin</h2>
                            </div>
                            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist"
                                aria-orientation="vertical">
                                <button class="nav-link active" id="dashboard-tab" data-bs-toggle="pill"
                                    data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home"
                                    aria-selected="true"><span><i class="fas fa-user"></i></span>Dashboard</button>

                                <button class="nav-link" id="users-tab" data-bs-toggle="pill"
                                    data-bs-target="#v-pills-address" type="button" role="tab"
                                    aria-controls="v-pills-address" aria-selected="true"><span><i
                                            class="fas fa-user"></i></span>Users List</button>

                                <button class="nav-link" id="orders-tab" data-bs-toggle="pill" type="button" role="tab"
                                    aria-controls="v-pills-settings" aria-selected="false"><span><i
                                            class="fas fa-user-lock"></i></span> Orders </button>

                                <button class="nav-link" id="products-tab" data-bs-toggle="pill" type="button"
                                    role="tab" aria-controls="v-pills-settings" aria-selected="false"><span><i
                                            class="fas fa-user-lock"></i></span>Products</button>

                                <button class="nav-link" id="category-tab" data-bs-toggle="pill" type="button"
                                    role="tab" aria-controls="v-pills-settings" aria-selected="false"><span><i
                                            class="fas fa-user-lock"></i></span>Category</button>

                                <button class="nav-link" id="coupon-tab" data-bs-toggle="pill" type="button" role="tab"
                                    aria-controls="v-pills-settings" aria-selected="false"><span><i
                                            class="fas fa-user-lock"></i></span>Coupon</button>

                                <button class="nav-link" id="sales-tab" data-bs-toggle="pill" type="button" role="tab"
                                    aria-controls="v-pills-settings" aria-selected="false"><span><i
                                            class="fas fa-user-lock"></i></span>Sales Report</button>

                                            <button class="nav-link" id="productOffers-tab" data-bs-toggle="pill" type="button" role="tab"
                                    aria-controls="v-pills-settings" aria-selected="false"><span><i
                                            class="fas fa-user-lock"></i></span>Product Offers</button>
                                            

                                <button class="nav-link" type="button"><span> <i class="fas fa-sign-out-alt"></i>
                                    </span> Logout</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-8 wow fadeInUp" data-wow-duration="1s">
                        <div class="fp__dashboard_content">
                            <div class="tab-content" id="v-pills-tabContent">

                                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                                    aria-labelledby="v-pills-home-tab">
                                    <div class="fp_dashboard_body">
                                        <h3>Welcome to Admin Dashboard</h3>

                                        <div class="fp__dsahboard_overview">
                                            <div class="row">
                                                <div class="col-xl-3 col-sm-6 col-md-3">
                                                    <div class="fp__dsahboard_overview_item orange">
                                                        <span class="icon"><i class="fa fa-mobile"></i></span>
                                                        <h4>Total Products <span>(<%=products%>)</span></h4>
                                                    </div>
                                                </div>

                                                <div class="col-xl-3 col-sm-6 col-md-3">
                                                    <div class="fp__dsahboard_overview_item green">
                                                        <span class="icon"><i class="fa fa-users"></i></span>
                                                        <h4>Total Users <span>(<%=users%>)</span></h4>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-sm-6 col-md-3">
                                                    <div class="fp__dsahboard_overview_item">
                                                        <span class="icon"><i class="fa fa-shopping-basket"></i></span>
                                                        <h4>Total order <span>(<%=orderCount%>)</span></h4>
                                                    </div>
                                                </div>

                                                <div class="col-xl-3 col-sm-6 col-md-3">
                                                    <div class="fp__dsahboard_overview_item green">
                                                        <span class="icon"><i class="fa fa-credit-card"></i></span>
                                                        <h4> Revenue <span>(<%=revenue%>)</span></h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div
                                            class=" d-flex flex-column align-items-center justify-content-center m-lg-5">

                                            <h2 class="text-center font-weight-bold m-5"> Total Sales Revenue Chart
                                            </h2>

                                            <div class="col-lg-10">
                                                <canvas class="w-100 h-auto" id="revenueChart"></canvas>
                                            </div>

                                            <div class="mt-5 d-flex font-weight-bold">
                                                <button class=" salesChart  ml-4 nav-link "
                                                    style="background-color: black; color: rgb(240, 255, 254) ; width: 65px;"
                                                    data="yearly">Yearly</button>
                                                <button class=" salesChart ml-4 nav-link py-1 px-2"
                                                    style="background-color: black; color: aliceblue ; width: 70px;"
                                                    data="weekly">Weekly</button>
                                                <button class=" salesChart ml-4 nav-link py-1 px-2"
                                                    style="background-color: black; color: aliceblue ; width: 70px;"
                                                    data="daily">Daily</button>
                                            </div>

                                        </div>
                                        <div
                                            class=" d-flex flex-column align-items-center justify-content-center m-lg-5">

                                            <h2 class="text-center font-weight-bold m-5"> Total Orders Placed Chart
                                            </h2>

                                            <div class="col-lg-10">
                                                <canvas class="w-100 h-auto" id="ordersChart"></canvas>
                                            </div>

                                            <div class="mt-5 d-flex font-weight-bold">
                                                <button class="ordersChart ml-4 nav-link py-1 px-2"
                                                    style="background-color: rgb(45, 6, 71); color: rgb(228, 17, 17) ; width: 70px; border-radius: 10px;"
                                                    data="yearly">Yearly</button>
                                                <button class="ordersChart ml-4 nav-link py-1 px-2"
                                                    style="background-color: rgb(45, 6, 71); color: rgb(3, 24, 43) ; width: 70px;border-radius: 10px; "
                                                    data="weekly">Weekly</button>
                                                <button class="ordersChart ml-4 nav-link py-1 px-2"
                                                    style="background-color: rgb(45, 6, 71); color: aliceblue ; width: 70px;border-radius: 10px; "
                                                    data="daily">Daily</button>
                                            </div>

                                        </div>



                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </section>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        document.getElementById("dashboard-tab").addEventListener("click", (event) => {
            window.location.href = "/admin/dashboard"
        })
        document.getElementById("users-tab").addEventListener("click", (event) => {
            window.location.href = "/admin/usersList"
        })
        document.getElementById("orders-tab").addEventListener("click", (event) => {
            window.location.href = "/admin/orderList"

        })
        document.getElementById("products-tab").addEventListener("click", (event) => {
            window.location.href = "/admin/productList"

        })
        document.getElementById("category-tab").addEventListener("click", (event) => {
            window.location.href = "/admin/categoryList"

        })
        document.getElementById("coupon-tab").addEventListener("click", (event) => {
            window.location.href = "/admin/couponList"

        })
        document.getElementById("sales-tab").addEventListener("click", (event) => {
            window.location.href = "/admin/salesReport"
        })
        document.getElementById("productOffers-tab").addEventListener("click", (event) => {
            window.location.href = "/admin/productOffers"
        })


        const ctx = document.getElementById('revenueChart')
        const ctxOrder = document.getElementById('ordersChart')

        let salesTimeBase = 'yearly';
        let orderChartTimeBase = 'yearly';

        let salesButtons = document.querySelectorAll(".salesChart")

        salesButtons.forEach((btn) => {
            btn.addEventListener("click", (e) => {
                let value = btn.getAttribute('data')
                salesTimeBase = value
                updateData()
            })
        })

        let orderButtons = document.querySelectorAll(".ordersChart")

        orderButtons.forEach((btn) => {
            btn.addEventListener("click", (e) => {
                let value = btn.getAttribute('data')
                orderChartTimeBase = value
                updateData()
            })
        })



        let salesChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['loading'],
                datasets: [
                    {
                        label: 'Sales (rs)',
                        data: [0],
                        backgroundColor: 'rgba(14, 125, 244, 0.377)',
                        borderColor: 'rgba(75, 192, 192, 1)',
                        borderWidth: 1,
                    },

                ],
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true,
                        min: 0,

                    }
                }
            }
        });

        let OrderChart = new Chart(ctxOrder, {
            type: 'bar',
            data: {
                labels: ['loading'],
                datasets: [
                    {
                        label: 'Orders',
                        data: [0],
                        backgroundColor: 'rgba(128, 0, 128, 0.377)',
                        borderColor: 'rgba(75, 192, 192, 1)',
                        borderWidth: 1,
                    },

                ],
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true,
                        min: 0,

                    }
                }
            }
        });

        function updateData() {
            fetch(`/admin/charts?salesChart=${salesTimeBase}&orderChart=${orderChartTimeBase}`, {

                method: "get"
            })
                .then((res) => res.json())
                .then((Data) => {

                    let { saleChartInfo, orderQuantityChartInfo } = Data
                    console.log('sales \n \n', saleChartInfo, '\n\n\n')
                    console.log('order \n \n', orderQuantityChartInfo, '\n\n\n')

                    let salesChartLabel;

                    let totalSalesValData;

                    if (saleChartInfo.timeBasis === 'yearly') {
                        let months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];


                        salesChartLabel = saleChartInfo.data.map((data) => {
                            return months[data._id.month - 1]
                        });


                        totalSalesValData = saleChartInfo.data.map((data) => {
                            return data.totalSales
                        })
                    } else if (saleChartInfo.timeBasis === 'weekly') {

                        salesChartLabel = saleChartInfo.data.map((data) => {
                            return data._id
                        });

                        totalSalesValData = saleChartInfo.data.map((data) => {
                            return data.totalSales
                        })

                    }

                    else if (saleChartInfo.timeBasis === 'daily') {


                        salesChartLabel = saleChartInfo.data.map((data) => {

                            const hr = data._id;

                            return `${hr}:00 - ${hr + 1}:00 UTC`
                        });

                        totalSalesValData = saleChartInfo.data.map((data) => {
                            return data.totalSales
                        })
                    }

                    console.log(salesChartLabel);
                    console.log(totalSalesValData)

                    salesChart.data.labels = salesChartLabel;
                    salesChart.data.datasets[0].data = totalSalesValData;

                    // Call the update method to refresh the chart
                    salesChart.update();


                    let OrderQuantityChartLabels;

                    let OrderQuantityChartData;


                    if (orderQuantityChartInfo.timeBasis === 'yearly') {


                        let months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];


                        OrderQuantityChartLabels = orderQuantityChartInfo.data.map((data) => {
                            return months[data._id.month - 1]
                        });


                        OrderQuantityChartData = orderQuantityChartInfo.data.map((data) => {
                            return data.totalOrder
                        })


                    } else if (orderQuantityChartInfo.timeBasis === 'weekly') {

                      

                        OrderQuantityChartLabels = orderQuantityChartInfo.data.map((data) => {
                            return data._id
                        });

                        OrderQuantityChartData = orderQuantityChartInfo.data.map((data) => {
                            return data.totalOrder
                        })

                    }

                    else if (orderQuantityChartInfo.timeBasis === 'daily') {


                        OrderQuantityChartLabels = orderQuantityChartInfo.data.map((data) => {

                            const hr = data._id;

                            return `${hr}:00 - ${hr + 1}:00 UTC`
                        });

                        OrderQuantityChartData = orderQuantityChartInfo.data.map((data) => {
                            return data.totalOrder
                        })
                    }

                    console.log(OrderQuantityChartLabels);
                    console.log(OrderQuantityChartData);


                    OrderChart.data.labels = OrderQuantityChartLabels;
                    OrderChart.data.datasets[0].data = OrderQuantityChartData;

                    // Call the update method to refresh the chart
                    OrderChart.update();


                    salesButtons.forEach((btn) => {

                        if (btn.getAttribute('data') === salesTimeBase) {

                            btn.style.color = 'rgb(138, 240, 240)';
                        } else {
                            btn.style.color = 'white'
                        }
                    })


                    orderButtons.forEach((btn) => {

                        if (btn.getAttribute('data') === orderChartTimeBase) {

                            btn.style.color = 'rgb(228, 17, 17)';
                        } else {
                            btn.style.color = 'white'
                        }
                    })

                })
        }


   window.onload = updateData()





    </script>





</body>