<%- include("../layouts/header.ejs") %>

 <!--=========================
        FORGOT PASSWORD START 
    ==========================-->
    <section class="fp__signin" >
        <div class="fp__signin_overlay pt_125 xs_pt_95 pb_100 xs_pb_70">
            <div class="container">
                <div class="row wow fadeInUp" data-wow-duration="1s">
                    <div class="col-xxl-5 col-xl-6 col-md-9 col-lg-7 m-auto">
                        <div class="fp__login_area">
                            <h2>Reset Password</h2>
                            <p></p>
                            <form action="/resetPassword" method="post">
                                <div class="row">
                                    <div class="col-xl-12">
                                        <div class="fp__login_imput">
                                            <label>Enter the new password</label>
                                            <input type="password" placeholder="password" name="password" required>
                                        </div>
                                        <div class="fp__login_imput">
                                            <label>Confirm password</label>
                                            <input type="password" placeholder="password" name="confirmPassword" required>
                                            <%if(userId !== "undefined") {%>
                                            <input type="hidden" value="<%=userId%>" name="userId">
                                            <%}%>
                                        </div>
                                        
                                    </div>
                                    <div class="col-xl-12">
                                        <div class="fp__login_imput">
                                            <button type="submit" class="common_btn">Reset Password</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <% if(typeof message !== "undefined") { %>
                                <p style="color: rgb(224, 15, 15);"><%=message%></p>
                              <% } %>
                            <p class="create_account d-flex justify-content-between">
                                <a href="/login">login</a>
                                
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--=========================
        FORGOT PASSWORD END
    ==========================-->

<%- include("../layouts/footer.ejs") %>