
<%- include("../layouts/header.ejs") %>
<br><br>
  <!--=========================
        SIGNIN START
    ==========================-->
    <section class="fp__signin">
      <div class="fp__signin_overlay pt_125 xs_pt_95 pb_100 xs_pb_70">
          <div class="container">
              <div class="row wow fadeInUp" data-wow-duration="1s">
                  <div class="col-xxl-5 col-xl-6 col-md-9 col-lg-7 m-auto">
                      <div class="fp__login_area">
                          <h2>Welcome</h2>
                          <% if(typeof message !== "undefined") { %>
                            <p style="color: rgb(224, 15, 15);"><%=message%></p>
                          <% } %>
                          <p>Enter the otp to verify</p>
                          <form action="/verify-otp" method="post">
                              <div class="row">
                                  <div class="col-xl-12">
                                      <div class="fp__login_imput">
                                          <label>OTP</label>
                                          <input type="otp" placeholder="otp" name="otp" required>
                                      </div>
                                  </div>
                                  <div>
                                    <p  style="color: blue;" id="timer"></p>
                                  </div>
                                  
                                  <div class="col-xl-12">
                                      <div class="fp__login_imput fp__login_check_area">
                                          
                                          <button onclick="sendOtp()" id="resendOtp" disabled class="btn btn-primary" style="width: 150px; color:white;">Resend otp</button>
                                      </div>
                                  </div>
                                  <div class="col-xl-12">
                                      <div class="fp__login_imput">
                                          <button type="submit" class="common_btn">
                                            Verify Otp</button>
                                      </div>
                                  </div>
                              </div>
                          </form>
                          <p class="or"><span>or</span></p>
                          
                          <p class="create_account"><a href="/login">Login here</a>
                          </p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!--=========================
      SIGNIN END
  ==========================-->

  <script>
    const startTime = 1;
    let time = startTime*60;
    const timerElement = document.getElementById('timer')

    const updateTime =()=>{
        const minutes = Math.floor(time/60)
        const seconds = time%60

        timerElement.innerHTML =`${minutes} : ${seconds}`
        time--

        if(time<0){
            clearInterval(timerIntervel)
            timerElement.innerHTML = `${minutes} : ${seconds}`
            document.getElementById('resendOtp').removeAttribute('disabled')   
            
        }
    }
   const timerIntervel =  setInterval(updateTime , 1000)

   sendOtp = ()=>{
    
       window.location.href = '/resendOtp'
   }

    
  </script>

  <%- include("../layouts/footer.ejs") %>